.fila {
  display: flex;
  flex-flow: row wrap; }
  .fila .w100 {
    width: 100%; }
  .fila .f1 {
    flex: 1; }
  .fila .f2 {
    flex: 2; }
  .fila .f3 {
    flex: 3; }
  .fila .f4 {
    flex: 4; }
  .fila .f5 {
    flex: 5; }
  .fila .f6 {
    flex: 6; }
  .fila .f7 {
    flex: 7; }
  .fila .f8 {
    flex: 8; }
  .fila .f9 {
    flex: 9; }
  .fila .f10 {
    flex: 10; }
  .fila .f11 {
    flex: 11; }
  .fila .f12 {
    flex: 12; }

.margin {
  margin: 20px; }
