@import url("https://fonts.googleapis.com/css?family=Roboto:300");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* ======== ======== JOWO NAVBAR ======== ======== */
/* ======== ======== JOWO VARIABLES COLORES ======== ======== */
/* ======== ======== JOWO CONTAINERS ======== ======== */
.jw-container {
  width: 100%;
  position: relative;
  height: auto;
  padding: 10px;
}

.jw-full-screen {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}

/* ======== ======== JOWO CONTAINER FLEX ======== ======== */
.jw-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.jw-row .jw-col-auto {
  flex: 1;
}

.jw-row .jw-col-1 {
  flex: 1;
}

.jw-row .jw-col-2 {
  flex: 2;
}

.jw-row .jw-col-3 {
  flex: 3;
}

.jw-row .jw-col-4 {
  flex: 4;
}

.jw-row .jw-col-5 {
  flex: 5;
}

.jw-row .jw-col-6 {
  flex: 6;
}

.jw-row .jw-col-7 {
  flex: 7;
}

.jw-row .jw-col-8 {
  flex: 8;
}

.jw-row .jw-col-9 {
  flex: 9;
}

.jw-row .jw-col-10 {
  flex: 10;
}

.jw-row .jw-col-11 {
  flex: 11;
}

.jw-row .jw-col-12 {
  flex: 12;
}

.jw-margin .jw-auto {
  justify-content: space-around;
  margin: 10px;
}

/* ======== ======== JOWO WIDTH ======== ======== */
.jw-w10 {
  width: 10%;
}

.jw-w20 {
  width: 20%;
}

.jw-w25 {
  width: 25%;
}

.jw-w30 {
  width: 30%;
}

.jw-w33 {
  width: 33.3333%;
}

.jw-w40 {
  width: 40%;
}

.jw-w50 {
  width: 50%;
}

.jw-w60 {
  width: 60%;
}

.jw-w66 {
  width: 66.6666%;
}

.jw-w70 {
  width: 70%;
}

.jw-w80 {
  width: 80%;
}

.jw-w90 {
  width: 90%;
}

.jw-w100 {
  width: 100%;
}

/* ======== ======== JOWO MARGIN ======== ======== */
.jw-margin8 {
  margin: 8px;
}

.jw-margin16 {
  margin: 16px;
}

.jw-margin24 {
  margin: 24px;
}

.jw-margin32 {
  margin: 32px;
}

.jw-margin64 {
  margin: 64px;
}

.jw-margin-default {
  margin: 10px;
}

/* ======== ======== JOWO PADDING ======== ======== */
.jw-padding8 {
  padding: 8px;
}

.jw-padding-default {
  padding: 10px;
}

.jw-padding16 {
  padding: 16px;
}

.jw-padding24 {
  padding: 24px;
}

.jw-padding32 {
  padding: 32px;
}

.jw-padding64 {
  padding: 64px;
}

/* ======== ======== JOWO BACKGROUND ======== ======== */
.jw-bg-green {
  background: #1fff48;
}

.jw-bg-red {
  background: #fd4242;
}

.jw-bg-blue {
  background: #494cfa;
}

.jw-bg-black {
  background: #222222;
}

.jw-bg-yellow {
  background: #ffdf23;
}

.jw-bg-orange {
  background: #ff6619;
}

.jw-bg-white {
  background: #fff;
}

.jw-bg-transparent {
  background: transparent;
}

.jw-bg-gradient-elegant {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

/* ======== ======== JOWO NEON HOVER ======== ======== */
.jw-neon-green-hover:hover {
  box-shadow: 0 0 6px #1fff48;
}

.jw-neon-red-hover:hover {
  box-shadow: 0 0 7px #fd4242;
}

.jw-neon-black-hover:hover {
  box-shadow: 0 0 7px #222222;
}

.jw-neon-orange-hover:hover {
  box-shadow: 0 0 7px #ff6619;
}

.jw-neon-white-hover:hover {
  box-shadow: 0 0 7px #fff;
}

.jw-neon-blue-hover:hover {
  box-shadow: 0 0 7px #494cfa;
}

.jw-neon-yellow-hover:hover {
  box-shadow: 0 0 7px #ffdf23;
}

.jw-neon-green {
  box-shadow: 0 0 6px #1fff48;
}

.jw-neon-red {
  box-shadow: 0 0 7px #fd4242;
}

.jw-neon-black {
  box-shadow: 0 0 7px #222222;
}

.jw-neon-orange {
  box-shadow: 0 0 7px #ff6619;
}

.jw-neon-white {
  box-shadow: 0 0 7px #fff;
}

.jw-neon-blue {
  box-shadow: 0 0 7px #494cfa;
}

.jw-neon-yellow {
  box-shadow: 0 0 7px #ffdf23;
}

/* ======== ======== JOWO BUTTONS OUTLINE  ======== ======== */
.jw-button-outline-green {
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  color: #1fff48;
  border: 2px solid #1fff48;
  background: transparent;
}

.jw-button-outline-black {
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  color: #222222;
  border: 2px solid #222222;
  background: transparent;
}

.jw-button-outline-orange {
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  color: #ff6619;
  border: 2px solid #ff6619;
  background: transparent;
}

.jw-button-outline-red {
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  color: #fd4242;
  border: 2px solid #fd4242;
  background: transparent;
}

.jw-button-outline-yellow {
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  color: #ffdf23;
  border: 2px solid #ffdf23;
  background: transparent;
}

.jw-button-outline-white {
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
}

.jw-button-outline-blue {
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  color: #494cfa;
  border: 2px solid #494cfa;
  background: transparent;
}

/* ========  ======== JOWO BUTTONS ========  ======== */
.jw-button {
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  color: white;
}

.jw-btn-rounded {
  border-radius: 100px;
}

.btn:active {
  transform: scale(0.95);
}

/* ======== ======== JOWO DISPLAY ======== ======== */
/* ======== JOWO DISPLAY TOP========*/
.jw-display-top-left {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
}

.jw-display-top-center {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.jw-display-top-right {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(0%, 0%);
}

/* ======== JOWO DISPLAY CENTER========*/
.jw-display-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jw-display-center-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}

.jw-display-center-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
}

/* ======== JOWO DISPLAY RIGHT========*/
.jw-display-bottom-left {
  position: absolute;
  bottom: 0%;
  left: 0%;
  transform: translate(0%, 0%);
}

.jw-display-bottom-center {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.jw-display-bottom-right {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(0%, 0%);
}

/* ========  ======== JOWO Sliders ========  ======== */
.slider {
  overflow: hidden;
  margin: auto;
  height: 100vh;
}

.slider .slides {
  display: flex;
  height: 100%;
  transition: all 1s;
}

.slider .slides .slide {
  width: 100%;
  height: 100%;
  list-style: none;
}

/* ========  ======== JOWO REGLAS MEDIA QUERIES ========  ======== */
#im1 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://i.pinimg.com/originals/07/e1/49/07e1495d10c992aa6dd59d640637f9fe.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .jw-row .jw-col-auto {
    flex: 1 1 50%;
  }
  .jw-navbar .jw-nav-list {
    display: none;
  }
  .jw-navbar .nav-toggle {
    display: block;
  }
  .jw-navbar {
    display: block;
  }
  .jw-navbar .jw-nav-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

@media screen and (max-width: 480px) {
  .jw-row .jw-col-auto {
    flex: 1 1 100%;
  }
}

/* ========  ======== JOWO NAVBAR ========  ======== */
/* ========  ======== JOWO NAVBAR OPTIONS ========  ======== */
.jw-nav-fixed {
  position: fixed;
}

.dropdown-effect:hover .jw-sub-menu {
  transform: scale(1, 1);
}

/* ========  ======== JOWO NAVBAR DEFAULT ========  ======== */
.jw-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  position: relative;
}

.jw-nav-logo {
  padding: 10px;
}

.jw-nav-logo a {
  text-decoration: none;
  color: #fd4242;
  display: block;
  font-size: 1.5em;
}

.jw-nav-list {
  display: flex;
}

.jw-nav-item {
  list-style: none;
  position: relative;
}

.jw-nav-link {
  text-decoration: none;
  display: block;
  color: white;
  padding: 15px;
}

.jw-nav-link:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* ========  ======== JOWO SUB-NAVBAR ========  ======== */
.jw-sub-menu {
  position: absolute;
  display: block;
  width: 100%;
  transition: all .2s ease-in-out;
  transform-origin: top center;
  transform: scale(1, 0);
}

.jw-sub-nav-item {
  list-style: none;
}

.jw-sub-nav-link {
  text-decoration: none;
  display: block;
  color: white;
  padding: 15px;
}

.jw-sub-nav-link:hover {
  background: white;
  color: #222;
}

/* ========  ======== JOWO TOGGLE-NAVBAR ========  ======== */
.nav-toggle {
  display: none;
}

.icon-toggle {
  display: block;
  cursor: pointer;
  margin: 10px;
}

.line {
  margin: 5px 0;
  width: 30px;
  height: 2px;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.move1 {
  transform-origin: left center;
  transform: rotate(45deg) translate(0, -5px);
}

.move2 {
  opacity: 0;
  transition: all .2s ease-in-out;
}

.move3 {
  transition: all .2s ease-in-out;
  transform-origin: left center;
  transform: rotate(-45deg) translate(0, 5px);
}

.nav-list-toggle {
  width: 100%;
  position: absolute;
  height: 0%;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.pe {
  height: auto;
}
/*# sourceMappingURL=estilos.css.map */